.preload{
    position: absolute;
    height: calc(100% - 50px);
    width: 100%;
    top: 50px;
    background-color: rgba(255, 255, 255, .8);
    text-align: center;
    display: table;
    .preload-container{
        display: table-cell;
        vertical-align: middle;
        h3{
            color: $color-5;
            height: 50px;
            line-height: 50px;
            img{
                height: 41px;
            }
        }
    }
    
}