.menu{
    ul{
        list-style: none;
        padding-left: 0px;
        li{
            a{
                color: $color-3;
                display: block;
                padding: 5px 0px;
            }
            a:hover{
                text-decoration: none;
            }
        }
    }
}