.search-box {
  background-color: #ffffff;
  border: 1px solid #cccccc;
  padding: 15px;
  padding-bottom: 0px;
  margin-bottom: 15px;
}

.menu ul {
  list-style: none;
  padding-left: 0px;
}
.menu ul li a {
  color: #737373;
  display: block;
  padding: 5px 0px;
}
.menu ul li a:hover {
  text-decoration: none;
}

.navbar-default {
  background-color: #3d6ad6;
}
.navbar-default .btn-link,
.navbar-default .navbar-brand,
.navbar-default .navbar-brand:hover,
.navbar-default .btn-link:hover,
.navbar-default .navbar-nav > li > a,
.navbar-default .navbar-nav > li > a:hover {
  color: #ffffff;
}
.navbar-default .btn-link:hover,
.navbar-default a:hover,
.navbar-default .navbar-nav > li > a:hover {
  background-color: #2855bd;
}

.panel-default .panel-heading {
  background-color: #3d6ad6;
  color: #ffffff;
  padding-left: 45px;
  position: relative;
}
.panel-default .panel-heading .icon-container {
  box-shadow: 0px 0px 3px 0px #000000;
  font-size: 29px;
  border-radius: 50%;
  position: absolute;
  top: -10px;
  background-color: #2855bd;
  left: -10px;
  min-width: 44px;
  padding-top: 2px;
  text-align: center;
}
.panel-default .panel-heading .icon-container i {
  font-size: 29px;
}

.btn-primary {
  background-color: #3d6ad6;
}

.btn-primary:hover {
  background-color: #2855bd;
}

.table-striped > tbody > tr:nth-of-type(even) {
  background-color: #ffffff;
}

.breadcrumb {
  background-color: #ffffff;
  border: 1px solid #cccccc;
}

body {
  background-color: #f2f2f2;
}

.preload {
  position: absolute;
  height: calc(100% - 50px);
  width: 100%;
  top: 50px;
  background-color: rgba(255, 255, 255, 0.8);
  text-align: center;
  display: table;
}
.preload .preload-container {
  display: table-cell;
  vertical-align: middle;
}
.preload .preload-container h3 {
  color: #2855bd;
  height: 50px;
  line-height: 50px;
}
.preload .preload-container h3 img {
  height: 41px;
}

.login-box {
  background-color: #ffffff;
  padding-top: 15px;
  padding-bottom: 15px;
}

/*# sourceMappingURL=main.css.map */
