.timeline {
	overflow-x: auto;
}
.timeline .time-row:first-child {
	border-top: 1px solid #f2f2f2;

}
.timeline .time-row:first-child .vertical-line{
	left: 1px;
}
.timeline .time-row:first-child .time{
	position: relative;
	right: 17px;
}
.timeline .time-row {
	width: 2550px;
	border-top: 1px solid #e4e4e4;
}
.timeline .worker{
	position: relative;
	min-width: 120px;
}
.timeline .worker-info{
	position: absolute;
	left: 5px;
}
.timeline .time-row .quarter {
	display: inline-block;
	width: 45px;
	padding-left: 1px;
	padding-right: 1px;
	min-height: 40px;
	position: relative;
	left: 160px;
}
.timeline .vertical-line {
	height: 100%;
	width: 1px;
	background-color: #cccccc;
	position: absolute;
}
.timeline .time-row:first-child .vertical-line:first-child {
	height: 20px;
}
.timeline .active {
	background-color: #3d6ad6;
}
.timeline .inactive {
	height: 10px;
}
.timeline .work-box {
	position: relative;
	width: 48px;
	height: 10px;
	margin-top: 2px;
	left: 1px;
}
.timeline .time-row:nth-child(even) {
	background: #f2f2f2;
}
.timeline .time-row:nth-child(odd) {
	background: #e4e4e4;
}
.timeline .worker-info:nth-child(even) {
	top: 23px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	max-width: 120px;
}
.timeline .worker-info:nth-child(odd) {
	top: 3px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	max-width: 120px;
}
